<div class="row section recentworks topspace">

    <h2 class="section-title"><span>All projects</span></h2>

    <div class="thumbnails recentworks">
        {{ range (where (where .Site.Pages.ByDate "Section" "work") ".Params.featured" "!=" "true") }}
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a class="thumbnail"  href="{{ .Params.externalUrl }}" target="_blank">
                    <span class="img">
                        <img src="{{ .Params.image }}" alt="{{ .Params.title }}"> 
                        <span class="cover" ><span class="more">Open in new tab &rarr;</span>
                        </span>
                    </span>
                    <span class="title pink" >{{ .Params.title }}</span>
                </a>
                <span class="details">
                    <span>

                        {{ if isset .Params "items"}}
                        {{ $len := sub (len .Params.items) 1 }}
                        {{ range $i, $item := .Params.items }}
                        <span href="{{ $item }}" class="blue">{{ $item }}</span>
                        {{ if gt $len $i }} | {{ end }}
                        {{ end }}
                        {{end}}</br>
                    </span>
                    <span style="color: #888888;">{{ .Params.synopsis }}</span>
                </span>
            </div>
        {{ end }}
    </div>

</div> <!-- /section -->
