<div class="row section recentworks topspace">

    <h2 class="section-title"><span>Recent Projects</span></h2>

    <div class="thumbnails recentworks">
        {{ range $index, $area := where .Data.Pages "Section" "work" }}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a class="thumbnail" href="{{ .Params.externalUrl }}">
                    <span class="img">
                        <img src="{{ .Params.image }}" alt="">
                        <span class="cover"><span class="more">See details &rarr;</span></span>
                    </span>
                    <span class="title">{{ .Params.name }}</span>
                </a>
                <span class="details">
                    {{ if isset .Params "items"}}
                        {{ $len := sub (len .Params.items) 1 }}
                        {{ range $i, $item := .Params.items }}
                            <a href="{{ $item }}">{{ $item }}</a>
                            {{ if gt $len $i }} | {{ end }}
                        {{ end }}
                    {{end}}
                </span>
            </div>
        {{ end }}
    </div>

</div> <!-- /section -->
