<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center ">
            I am <span class="pinkStyle">Cuauhtemoc Moreno</span>, a Creative Developer and Interaction Designer.
            <br>I am the Creative Director at  
            <a href="http://www.lumorama.com/" style="color:#00aff3;
                ;">
                <b>lumorama</b>
            </a> 
            and the Head of Technology at
            <a href="http://www.soundscouts.com/" style="color:#00aff3;
                ;">
                <b>Sound Scouts</b>
            </a> in Sydney, Australia.
        </p>
        <p class="lead text-center ">
            I thrive in the intersection of technology and art.
        </p>

        <p class="lead text-center ">
            I love
            <span id="scrollingText" class="pinkStyle"> Interactive Art </span>.
        </p>
    </div>
</div>

<script type="text/javascript" >
    var changeSpan;
    var i = 0;

    var hobbies = [
        'Music',
        'Board games',
        'Fantasy Consoles',
        'Interactive Art',
        'The Poetics of Space',
        'Open Source',
        'Learning',
        'Acting',
        'Teaching',
        'Virtual Reality',
        'The Cosmos',
        'Tilemaps',
        'Reading',
        'Butterscotch',
        'Drawing',
        'Taking Photos',
        'Making Sounds',
        'Architecture',
        'Sweetened condensed milk',
        'Travelling',
        'Long Walks'
    ];

    function changeWord() {
        changeSpan.textContent = hobbies[i];
        i++;
        if (i >= hobbies.length) i = 0;
    }

    function init() {
        console.log('initialising scrolling text');
        changeSpan = document.getElementById("scrollingText");
        nIntervId = setInterval(changeWord, 950);
        changeWord();
    }

    if (document.addEventListener) {
        init();
    } else {
        init();
    }



</script>

<style>
    .pinkStyle{
        color:#ff2e8a;  
        font-size:1.0em;
    }
</style>
